<div class="side-bar col-xs-3">
			
			<div class="user_info">
				<h2>User info</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" ,class:"img-responsive"%>
						</tr>
						<tr>
							<th >name</th>
							<th ><%= user.name %> </th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= user.introduction %> </th>
						</tr>
					</thead>
				</table>
				<p class="row">
					<%= link_to "",edit_user_path(user.id) ,class: "btn btn-block btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
				</p>
			</div>
		
			<div class="new_book">
				<h2>New book</h2>
				<%= form_for(book) do |f| %>
				<p class="row">
					<%= f.label :title %><br>
					<%= f.text_field :title, class: "col-md-12 book_title" %>
				</p>
				<p class="row">
					<%= f.label :body %><br>
					<%= f.text_area :body, rows:"2", class: "col-md-12 book_body" %>
				</p>
				<p class="row">
					<%= f.submit "Create Book", class: "btn btn-block btn-primary"%>
				</p>
				<% end %>
			</div>
		</div>