<div class="container">
	<div class="row">
		
		<p id="notice"><%= notice %></p>
		
		<% if @book.errors.any? %>
			<div id="error_explanation">
				<h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
				<ul>
					<% @book.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if @book_comment.errors.any? %>
		  <div id="error_explanation" class="alert alert-danger">
		    <ul>
		      <% @book_comment.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>

		
		<%= render'books/list',book:@book ,user:@user %>

		<div class="main-list col-xs-9">
			
			<div class="book-detail">
				<h2>Book detail</h2>
				<table class="table table-striped">
					<tbody>
						<% if @user.id==current_user.id %>
						<tr>
							<td class="col-md-3"><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" ,class:"img-responsive"%>
							  	  <%= link_to @user.name,user_path(@user.id),class: "user_#{@user.id}" %> </td>
							<td class="col-md-3"><%= @book_id.title %></td>
							<td class="col-md-4"><%= @book_id.body %></td>
							<td class="col-md-1">
								<% if @book_id.favorited_by?(current_user) %>
									<%=link_to @book_id.favorites.count, book_favorites_path(@book_id.id), method: :delete %><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<% else %>
									<%=link_to @book_id.favorites.count, book_favorites_path(@book_id.id), method: :post %><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
								<% end %>
							<td class="col-md-1">
								<%= "コメント数：#{@book_id.book_comments.count}" %>
							</td>
							<td class="col-md-1">
								<%= link_to "Edit",edit_book_path(@book_id),class: "btn btn-success btn-sm" %>
							</td>
							<td class="col-md-1">
								<%= link_to "Destroy",book_path(@book_id) ,method: :delete,data: {confirm: "本当に消しますか？"},class: "btn btn-danger btn-sm" %>
							</td>
						</tr>
						<% else %>
						<tr>
							<td class="col-md-3"><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" ,class: "img-responsive" %><%= link_to @user.name,user_path(@user.id),class: "user_#{@user.id}" %> </td>
							<td class="col-md-4"><%= @book_id.title %></td>
							<td class="col-md-5"><%= @book_id.body %></td>
						</tr>
						<% end %>
					</tbody>
				</table>

				<% @book_id.book_comments.each do |book_comment| %>
				   <div class="comment-text">
	                    <div class="comment-author clearfix">
	                    	<span class="comment-meta">
	                          <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
	                        </span>
	                    </div>
	                    <div class="comment-entry"><%= book_comment.comment %></div>
	                    <%= link_to 'Destroy', book_book_comment_path(@book_id, book_comment),method: :delete,data: {confirm:'削除してもよろしいですか？'}%>
	                </div>
				<% end %>

				<%= form_for [@book_id, @book_comment] do |f| %>
					    <div class="row">
					        <div class="col-md-12">
					            <%= f.text_area :comment, rows:'4', class: "form-control",placeholder: "コメントをここに" %>
					        </div>
					    </div>
					    <%= f.submit "送信", class: "btn btn-md btn-base-1 mt-20 btn-default pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6"></div>
		<div class="col-md-3"><p>CopyRight Infratop.inc</p></div>
	</div>
</footer>